/*the entire background*/
.background{
    background-color: antiquewhite;
}

/*make the entire content center aligned*/
body{
    display:flex;
    justify-content: center;
}
body > #center_align{
    width: 1020px;
    flex-grow: 0;
}

/*header*/
.header_flex_container{
    display: flex;
    justify-content: center;
    font-size: 20pt;
    background-color: rgb(191, 175, 175);
}

.header_flex_container > header{
    width: 100%;
    padding: 10px;
    height: fit-content;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/*apply animation*/
.header_flex_container > header > h1{
    animation-name: moving_header;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-duration: 2s;
}
@keyframes moving_header {
    0% {right: 30px; position: relative;}
    100% {right: 0px; position: relative;}
}

#title{
    font-size: 1.2em;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(150, 198, 171);
    color: white;
    
}

/*top navigation*/
.navigation_flex_container{
    display: flex;
    justify-content: flex-start;
    font-size: 10pt;
}

/*blank item in order to insert a blank space*/
.navigation_flex_container > .blank {
    background: none;
    border: none;
    flex-grow: 10;
}

.navigation_flex_container > div{
    background-color: beige;
    border: 3px solid rgb(212, 212, 238);
    border-radius: 10px;

    height: 15px;
    margin: 5px;
    padding: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.navigation_flex_container > div >a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-grow: 1;
}

/*button underneath the form elements for login and signup pages*/
.button_flex_container{
    display: flex;
    width: 50%;
}
.button_flex_container >.button{
    background-color: beige;
    border: 3px solid rgb(212, 212, 238);
    border-radius: 10px;
    
    width: 100px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    font-size: 1em;
}
/*this is because height property doesn't work the same for the input elements and div elements*/
.button_flex_container > div[class = "button"]{
    height: 25px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.button_flex_container >.button > a{
    text-decoration: none;
}
/*green for normal buttons:hover*/
.button:hover{
    background-color: rgb(150, 198, 171);
    color: aliceblue;
}
/*coral for reset buttons:hover*/
input[type="reset"]:hover{
    background-color: coral;
    color: aliceblue;
}


/*this is for the main content*/
section{
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*selling items*/
.selling_item_flex_container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.selling_item_flex_container > .selling_item_area{
    flex: 1 0 270px;
    height: 300px;
    padding: 10px;
}
.selling_item_flex_container > .selling_item_area > .selling_item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;

    width: 300px;
    height: 270px;
    background: rgb(247, 237, 225);
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(177, 177, 177);
    text-align: center;
    color: rgb(65, 65, 65);
}
/*to have the same top and bottom space between the picture and the box*/
.selling_item_flex_container > .selling_item_area > .selling_item >div{
    height: 1em;
}
.selling_item_flex_container > .selling_item_area > .selling_item:hover{
    box-shadow: 0px 0px 8px rgb(177, 177, 177);
}

.selling_item_flex_container > .selling_item_area > .selling_item > img{
    margin: 5%;
    width: 90%;
    height: 70%;
    transition: transform 2s;
}
.selling_item_flex_container > .selling_item_area > .selling_item > img[class = "spin"]:hover{
    transform: rotate(360deg);
}

.selling_item_flex_container > .selling_item_area > .selling_item > img:hover{
    transform: scale(1.11, 1.43);
}